#origin .content h1{
    font-size: 6.0rem;
    line-height: 5.0rem;
}

.slide .content h1{
    font-style: italic;
    text-align: center;
    font-size: 4.0rem;
    line-height: 5.0rem;
}
.slide.white{
    background: whitesmoke;
    color: black;
}
.text.no-indent>.content>p+p, .no-ident>.content>p+p{
    text-indent: 0;
}